{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-us">

	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width">
		<link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,700,900|Nanum+Myeongjo:800&display=swap&subset=korean" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'searcher/이미지 이름.png' %}" type="text/css">
	</head>
	
	<body>
		<div class="div_root">
			<a name="top">&nbsp;</a>
			<div class="bookInfo">
				<div class="locationTitle"> 
					<!--책 제목--> title <br/>
					<p class="callNumber"> 청구기호&nbsp;<span style="font-family: Gothic A1; font-weight: 700;">callNumber</span></p>
				</div>
				
				<div class="shelfInfo">
					<div class="shelfFaceL"> <!--서가 면--> B </div> 
					<div class="bookshelf"> <!--서가번호--> <span class="directionFaceL">←</span> bookshelf <span class="directionFaceR hLightDirection"> → </span></div>
					<div class="shelfFaceR"> <!--서가 면--> A </div>>
					<div class="category"> <!--대분류--> category </div>
					<div class="underline"><!--구분선--></div> 
					<div class="bg_img"> 
						<div class="callNumberLeft"> 
							<p><!--첫청구기호-->B_callNumS</p>
							<p><!--끝청구기호-->~B_callNumE</p>
						</div>
						<div class="callNumberRight"> 
							<p><!--첫청구기호-->A_callNumS</p>
							<p><!--~끝청구기호-->~A_callNumE</p>
						</div>
					</div>
				</div>
			</div>
			
			<div><p>&nbsp;</p></div>
			<p style="text-align: center; font-size: 3vw; font-weight:700; color: rgb(140,140,140);"> 도서 위치</p> 
			<p class="locationSub"> room&nbsp;
				<span style="color: #e52505">bookshelf+shelfFace</span>번 서가 
				<span style="color: #e52505">bookshelfNum</span>번째 칸</p> 
			<div><p>&nbsp;</p></div>
			<p style="text-align: center; font-size: 3vw; font-weight:700; color: rgb(140,140,140);">서가 위치</p>
			
			<div class="map">
				<div class="left">
					<table class="shelf bLeft num0l">
						<tbody>
							<tr class="A 10A"><td>10A&nbsp;</td></tr>
							<tr class="B 10B"><td>10B&nbsp;</td></tr>
						</tbody>
					</table>
			  		<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 11A"><td>11A&nbsp;</td></tr>
							<tr class="B 11B"><td>11B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 12A"><td>12A&nbsp;</td></tr>
							<tr class="B 12B"><td>12B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 13A"><td>13A&nbsp;</td></tr>
							<tr class="B 13B"><td>13B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 14A hLight"><td>14A&nbsp;</td></tr>
							<tr class="B 14B"><td>14B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table  class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 15A"><td>15A&nbsp;</td></tr>
							<tr class="B 15B"><td>15B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 16A"><td>16A&nbsp;</td></tr>
							<tr class="B 16B"><td>16B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 17A"><td>17A&nbsp;</td></tr>
							<tr class="B 17B"><td>17B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 18A"><td>18A&nbsp;</td></tr>
							<tr class="B 18B"><td>18B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 19A"><td>19A&nbsp;</td></tr>
							<tr class="B 19B"><td>19B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 20A"><td>20A&nbsp;</td></tr>
							<tr class="B 20B"><td>20B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 21A"><td>21A&nbsp;</td></tr>
							<tr class="B 21B"><td>21B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 22A"><td>22A&nbsp;</td></tr>
							<tr class="B 22B"><td>22B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 23A"><td>23A&nbsp;</td></tr>
							<tr class="B 23B"><td>23B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 24A"><td>24A&nbsp;</td></tr>
							<tr class="B 24B"><td>24B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 25A"><td>25A&nbsp;</td></tr>
							<tr class="B 25B"><td>25B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 26A"><td>26A&nbsp;</td></tr>
							<tr class="B 26B"><td>26B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 27A"><td>27A&nbsp;</td></tr>
							<tr class="B 27B"><td>27B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 28A"><td>28A&nbsp;</td></tr>
							<tr class="B 28B"><td>28B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 29A"><td>29A&nbsp;</td></tr>
							<tr class="B 29B"><td>29B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 29-1A"><td>29-1A&nbsp;</td></tr>
							<tr class="B 29-1B"><td>29-1B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 29-2A"><td>29-2A&nbsp;</td></tr>
							<tr class="B 29-2B"><td>29-2B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 30A"><td>30A&nbsp;</td></tr>
							<tr class="B 30B"><td>30B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 31A"><td>31A&nbsp;</td></tr>
							<tr class="B 31B"><td>31B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 32A"><td>32A&nbsp;</td></tr>
							<tr class="B 32B"><td>32B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 33A"><td>33A&nbsp;</td></tr>
							<tr class="B 33B"><td>33B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 34A"><td>34A&nbsp;</td></tr>
							<tr class="B 34B"><td>34B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 35A"><td>35A&nbsp;</td></tr>
							<tr class="B 35B"><td>35B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 36A"><td>36A&nbsp;</td></tr>
							<tr class="B 36B"><td>36B&nbsp;</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bLeft num0l">
			  			<tbody>
							<tr class="A 37A"><td>37A&nbsp;</td></tr>
							<tr class="B 37B"><td>37B&nbsp;</td></tr>
						</tbody>
		  			</table>
				</div>
			
				<div class="center">
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 10A">←</span><span class="spanR 9B">→</span></td></tr>
							<tr><td><span class="spanL 10B">←</span><span class="spanR 9A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 11A">←</span><span class="spanR 8B">→</span></td></tr>
							<tr><td><span class="spanL 11B">←</span><span class="spanR 8A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 12A">←</span><span class="spanR 7B">→</span></td></tr>
							<tr><td><span class="spanL 12B">←</span><span class="spanR 7A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 13A">←</span><span class="spanR 6B">→</span></td></tr>
							<tr><td><span class="spanL 13B">←</span><span class="spanR 6A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 14A hLightDirection">←</span><span class="spanR 5B">→</span></td></tr>
							<tr><td><span class="spanL 14B">←</span><span class="spanR 5A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 15A">←</span><span class="spanR 4B">→</span></td></tr>
							<tr><td><span class="spanL 15B">←</span><span class="spanR 4A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 16A">←</span><span class="spanR 3B">→</span></td></tr>
							<tr><td><span class="spanL 16B">←</span><span class="spanR 3A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 17A">←</span><span class="spanR 2B">→</span></td></tr>
							<tr><td><span class="spanL 17B">←</span><span class="spanR 2A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 18A">←</span><span class="spanR 1B">→</span></td></tr>
							<tr><td><span class="spanL 18B">←</span><span class="spanR 1A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 19A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 19B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 20A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 20B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 21A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 21B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 22A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 22B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 23A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 23B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 24A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 24B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 25A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 25B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 26A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 26B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 27A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 27B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 28A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 28B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 29A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 29B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 29-1A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 29-1B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 29-2A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 29-2B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 30A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 30B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 31A">←</span><span class="spanR">→</span></td></tr>
							<tr><td><span class="spanL 31B">←</span><span class="spanR">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 32A">←</span><span class="spanR 43B">→</span></td></tr>
							<tr><td><span class="spanL 32B">←</span><span class="spanR 43A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 33A">←</span><span class="spanR 42B">→</span></td></tr>
							<tr><td><span class="spanL 33B">←</span><span class="spanR 42A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 34A">←</span><span class="spanR 41B">→</span></td></tr>
							<tr><td><span class="spanL 34B">←</span><span class="spanR 41A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 35A">←</span><span class="spanR 40B">→</span></td></tr>
							<tr><td><span class="spanL 35B">←</span><span class="spanR 40A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 36A">←</span><span class="spanR 39B">→</span></td></tr>
							<tr><td><span class="spanL 36B">←</span><span class="spanR 39A">→</span></td></tr>
						</tbody>
					</table>
                    <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 37A">←</span><span class="spanR 38B">→</span></td></tr>
							<tr><td><span class="spanL 37B">←</span><span class="spanR 38A">→</span></td></tr>
						</tbody>
					</table>
				</div>
			
				<div class="right">
					<table class="shelf bRight num8r">
			  			<tbody>
							<tr class="B 9B"><td>&nbsp;9B</td></tr>
							<tr class="A 9A"><td>&nbsp;9A</td></tr>
						</tbody>
		  			</table>
			  		<table class="shelf bRight num7r">
			  			<tbody>
							<tr class="B 8B"><td>&nbsp;8B</td></tr>
							<tr class="A 8A"><td>&nbsp;8A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num7r">
			  			<tbody>
							<tr class="B 7B"><td>&nbsp;7B</td></tr>
							<tr class="A 7A"><td>&nbsp;7A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num7r">
			  			<tbody>
							<tr class="B 6B"><td>&nbsp;6B</td></tr>
							<tr class="A 6A"><td>&nbsp;6A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num8r">
			  			<tbody>
							<tr class="B 5B"><td>&nbsp;5B</td></tr>
							<tr class="A 5A"><td>&nbsp;5A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num8r">
			  			<tbody>
							<tr class="B 4B"><td>&nbsp;4B</td></tr>
							<tr class="A 4A"><td>&nbsp;4A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num9r">
			  			<tbody>
							<tr class="B 3B"><td>&nbsp;3B</td></tr>
							<tr class="A 3A"><td>&nbsp;3A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num8r">
			  			<tbody>
							<tr class="B 2B"><td>&nbsp;2B</td></tr>
							<tr class="A 2A"><td>&nbsp;2A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num8r">
			  			<tbody>
							<tr class="B 1B"><td>&nbsp;1B</td></tr>
							<tr class="A 1A"><td>&nbsp;1A</td></tr>
						</tbody>
		  			</table>
		  			
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf_space">
			  			<tbody>
							<tr class="space"><td></td></tr>
							<tr class="space"><td></td></tr>
						</tbody>
		  			</table>
		  			
		  			<table class="shelf bRight num9r">
			  			<tbody>
							<tr class="B 43B"><td>43B</td></tr>
							<tr class="A 43A"><td>43A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num8r">
			  			<tbody>
							<tr class="B 42B"><td>42B</td></tr>
							<tr class="A 42A"><td>42A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num8r">
			  			<tbody>
							<tr class="B 41B"><td>41B</td></tr>
							<tr class="A 41A"><td>41A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num7r">
			  			<tbody>
							<tr class="B 40B"><td>40B</td></tr>
							<tr class="A 40A"><td>40A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num7r">
			  			<tbody>
							<tr class="B 39B"><td>39B</td></tr>
							<tr class="A 39A"><td>39A</td></tr>
						</tbody>
		  			</table>
		  			<table class="shelf bRight num7r">
			  			<tbody>
							<tr class="B 38B"><td>38B</td></tr>
							<tr class="A 38A"><td>38A</td></tr>
						</tbody>
		  			</table>
				</div>
			</div>
		</div>
			
	<script>
	
		window.onload = function(){
		    autoFocus();
		}
		
		function autoFocus() {
			document.getElementsByClassName('hLight')[0].scrollIntoView(true);
		}
	</script>
	</body>
</html>
