{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-us">

	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width">
		<link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,700,900|Nanum+Myeongjo:800&display=swap&subset=korean" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'searcher/이미지 이름.png' %}" type="text/css">
	</head>

	<body>

		<div class="div_root">
			<a name="top">&nbsp;</a>
			<div class="bookInfo">
				<div class="locationTitle"> 
					<!--책 제목--> title <br/>
					<p class="callNumber"> 청구기호&nbsp;<span style="font-family: Gothic A1; font-weight: 700;">callNumber</span></p>
				</div>
				
				<div class="shelfInfo">
					<div class="shelfFaceL"> <!--서가 면--> A </div> 
					<div class="bookshelf"> <!--서가번호--> <span class="directionFaceL">←</span> bookshelf <span class="directionFaceR"> → </span></div>
					<div class="shelfFaceR"> <!--서가 면--> B </div>
					<div class="category"> <!--대분류--> category </div>
					<div class="underline"><!--구분선--></div> 
					<div class="bg_img"> 
						<div class="callNumberLeft"> 
							<p><!--첫청구기호-->B_callNumS</p>
							<p><!--끝청구기호-->~B_callNumE</p>
						</div>
						<div class="callNumberRight"> 
							<p><!--첫청구기호-->A_callNumS</p>
							<p><!--~끝청구기호-->~A_callNumE</p>
						</div>
					</div>
				</div>
			</div>
			
			<div><p>&nbsp;</p></div>
			<p style="text-align: center; font-size: 3vw; font-weight:700; color: rgb(140,140,140);"> 도서 위치</p> 
			<p class="locationSub"> room&nbsp;
				<span style="color: #e52505">bookshelf+shelfFace</span>번 서가 
				<span style="color: #e52505">bookshelfNum</span>번째 칸</p> 
			<div><p>&nbsp;</p></div>
			<p style="text-align: center; font-size: 3vw; font-weight:700; color: rgb(140,140,140);">서가 위치</p>

			<div class="map">
				<div class="left_3-3">
					<table class="shelf bLeft num5l">
						<tbody>
							<tr class="B 246B"><td>246B&nbsp;</td></tr>
							<tr class="A 246A"><td>246A&nbsp;</td></tr>
						</tbody>
					</table>
					<table class="shelf bLeft num5l">
						<tbody>
							<tr class="B 245B"><td>245B&nbsp;</td></tr>
							<tr class="A 245A"><td>245A&nbsp;</td></tr>
						</tbody>
					</table>
					<table class="shelf bLeft num5l">
						<tbody>
							<tr class="B 244B"><td>244B&nbsp;</td></tr>
							<tr class="A 244A"><td>244A&nbsp;</td></tr>
						</tbody>
					</table>
					<table class="shelf bLeft num5l">
						<tbody>
							<tr class="B 243B"><td>243B&nbsp;</td></tr>
							<tr class="A 243A"><td>243A&nbsp;</td></tr>
						</tbody>
					</table>
					<table class="shelf bLeft num5l">
						<tbody>
							<tr class="B 242B"><td>242B&nbsp;</td></tr>
							<tr class="A 242A"><td>242A&nbsp;</td></tr>
						</tbody>
					</table>
					<table class="shelf bLeft num5l">
						<tbody>
							<tr class="B 241B"><td>241B&nbsp;</td></tr>
							<tr class="A 241A"><td>241A&nbsp;</td></tr>
						</tbody>
					</table>
					<table class="shelf bLeft num5l">
						<tbody>
							<tr class="B 240B"><td>240B&nbsp;</td></tr>
							<tr class="A 240A"><td>240A&nbsp;</td></tr>
						</tbody>
					</table>
					<table class="shelf bLeft num7l">
						<tbody>
							<tr class="B 239B"><td>239B&nbsp;</td></tr>
							<tr class="A 239A"><td>239A&nbsp;</td></tr>
						</tbody>
                    </table>
                    
					
					<table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                    <div class="stair_3-3">
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="toilet">
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                        <table class="shelf_space">
                            <tbody>
                              <tr class="space"><td></td></tr>
                              <tr class="space"><td></td></tr>
                          </tbody>
                        </table>
                    </div>
        </div>


				<div class="center">
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 246B">←</span><span class="spanR 247A">→</span></td></tr>
							<tr><td><span class="spanL 246A">←</span><span class="spanR 247B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 245B">←</span><span class="spanR 248A">→</span></td></tr>
							<tr><td><span class="spanL 245A">←</span><span class="spanR 248B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 244B">←</span><span class="spanR 249A">→</span></td></tr>
							<tr><td><span class="spanL 244A">←</span><span class="spanR 249B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 243B">←</span><span class="spanR 250A">→</span></td></tr>
							<tr><td><span class="spanL 243A">←</span><span class="spanR 250B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 242B">←</span><span class="spanR 251A">→</span></td></tr>
							<tr><td><span class="spanL 242A">←</span><span class="spanR 251B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 241B">←</span><span class="spanR 252A">→</span></td></tr>
							<tr><td><span class="spanL 241A">←</span><span class="spanR 252B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 240B">←</span><span class="spanR 253A">→</span></td></tr>
							<tr><td><span class="spanL 240A">←</span><span class="spanR 253B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL 239B">←</span><span class="spanR 254A">→</span></td></tr>
							<tr><td><span class="spanL 239A">←</span><span class="spanR 254B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 255A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 255B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 256A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 256B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 257A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 257B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 258A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 258B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 259A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 259B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 260A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 260B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 261A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 261B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 262A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 262B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 263A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 263B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 264A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 264B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 265A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 265B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 266A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 266B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 267A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 267B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 268A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 268B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 269A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 269B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 270A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 270B">→</span></td></tr>
						</tbody>
					</table>
          <table class="shelf direction">
						<tbody>
							<tr><td><span class="spanL">←</span><span class="spanR 271A">→</span></td></tr>
							<tr><td><span class="spanL">←</span><span class="spanR 271B">→</span></td></tr>
						</tbody>
					</table>
				</div>

				<div class="right">
					 	<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 247A"><td>&nbsp;247A</td></tr>
								<tr class="B 247B"><td>&nbsp;247B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num2r">
			  			<tbody>
								<tr class="A 248A"><td>&nbsp;248A</td></tr>
								<tr class="B 248B"><td>&nbsp;248B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 249A"><td>&nbsp;249A</td></tr>
								<tr class="B 249B"><td>&nbsp;249B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 250A"><td>&nbsp;250A</td></tr>
								<tr class="B 250B"><td>&nbsp;250B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 251A"><td>&nbsp;251A</td></tr>
								<tr class="B 251B"><td>&nbsp;251B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 252A"><td>&nbsp;252A</td></tr>
								<tr class="B 252B"><td>&nbsp;252B</td></tr>
							</tbody>
		  			</table>
					 	<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 253A"><td>&nbsp;253A</td></tr>
								<tr class="B 253B"><td>&nbsp;253B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 254A"><td>&nbsp;254A</td></tr>
								<tr class="B 254B"><td>&nbsp;254B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 255A"><td>&nbsp;255A</td></tr>
								<tr class="B 255B"><td>&nbsp;255B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 256A"><td>&nbsp;256A</td></tr>
								<tr class="B 256B"><td>&nbsp;256B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 257A"><td>&nbsp;257A</td></tr>
								<tr class="B 257B"><td>&nbsp;257B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 258A"><td>&nbsp;258A</td></tr>
								<tr class="B 258B"><td>&nbsp;258B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 259A"><td>&nbsp;259A</td></tr>
								<tr class="B 259B"><td>&nbsp;259B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 260A"><td>&nbsp;260A</td></tr>
								<tr class="B 260B"><td>&nbsp;260B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 261A"><td>&nbsp;261A</td></tr>
								<tr class="B 261B"><td>&nbsp;261B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 262A"><td>&nbsp;262A</td></tr>
								<tr class="B 262B"><td>&nbsp;262B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 263A"><td>&nbsp;263A</td></tr>
								<tr class="B 263B"><td>&nbsp;263B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 264A"><td>&nbsp;264A</td></tr>
								<tr class="B 264B"><td>&nbsp;264B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 265A"><td>&nbsp;265A</td></tr>
								<tr class="B 265B"><td>&nbsp;265B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 266A"><td>&nbsp;266A</td></tr>
								<tr class="B 266B"><td>&nbsp;266B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 267A"><td>&nbsp;267A</td></tr>
								<tr class="B 267B"><td>&nbsp;267B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 268A"><td>&nbsp;268A</td></tr>
								<tr class="B 268B"><td>&nbsp;268B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 269A"><td>&nbsp;269A</td></tr>
								<tr class="B 269B"><td>&nbsp;269B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 270A"><td>&nbsp;270A</td></tr>
								<tr class="B 270B"><td>&nbsp;270B</td></tr>
							</tbody>
		  			</table>
						<table class="shelf bRight num1r">
			  			<tbody>
								<tr class="A 271A"><td>&nbsp;271A</td></tr>
								<tr class="B 271B"><td>&nbsp;271B</td></tr>
							</tbody>
		  			</table>
				</div>
			</div>
		</div>

	<script>

		window.onload = function(){
		    autoFocus();
		}

		function autoFocus() {
			document.getElementsByClassName('hLight')[0].scrollIntoView(true);
		}
	</script>
	</body>
</html>
